<% if (site.posts.length){ %>
<div class="widget">
  <ul class="list-unstyled"><li><h4><i class="fa fa-bullhorn"></i><%= __('recent_news') %></h4></li></ul>
    <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
      <li>
        <a href="<%= config.root %><%= post.path %>" <% if (post.description) { %> title="<%= post.description %>" <% } %>><i class="fa fa-file-o"></i><%= truncate(post.title, 25) %></a>
      </li>
    <% }); %>
</div>
<% } %>